// fonts
.fp {font-family: Arial,Helvetica,sans-serif;} // font primary
.fh {font-family: 'Signika',sans-serif;} // font header
.fi {font-family: 'cns-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@cp: #5c6354; // color primary
@cl: #44a8f3; // color link

// font sizes
@fsp: 15px; // font size primary
@fsh1: 24px; // font size h1
@fsh2: 19px; // font size h2
@fsh3: 17px; // font size h3
@fsh4: @fsp; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 0 20px;