#page-header{
	height: 240px;
	padding: 40px 0 0;
	background: url(../images/bg/01.jpg) repeat-x top;
	.logo{
		.col-5;
		.fh;
		font-size: 23px;
		line-height: 1.2;
		padding: 2px 0 0 22px;
		a{
			display: block;
			padding: 23px 0 0 142px;
			min-height: 126px;
			color: #fff;
			text-decoration: none;
			background: url(../images/logo/01.png) no-repeat;
		}
		mark{
			font-size: 21px;
			font-weight: 300;
			color: #fff;
		}
	}
	.search{
		.col-4;
		padding: 0 22px 0 87px;
		float: right;
		input[type=text]{
			.rin;
			.border-radius(17px);
			float: left;
			width: 100%;
			height: 34px;
			padding: 0 80px 0 10px;
			margin: 0 -34px 0 0;
			color: @cp;
			background: #fff;
			background: fade(#fff,70%);
			&:focus{
				background: #fff;
			}
		}
		button{
			.rin;
			display: block;
			float: left;
			width: 34px;
			height: 34px;
			overflow: hidden;
			font-size: 21px;
			color: @cl;
			&:hover{
				color: darken(@cl,20%);
			}
			&:before{
				.fi;
				content: '\e800';
				margin: 0 15px 0 4px;
			}
		}
	}
}
#col-main{
	float: right;
	width: 740px;
	padding: 50px 20px 20px 0;
}
#col-center{
	float: left;
	width: 460px;
}
#col-right{
	float: right;
	width: 220px;
}
#col-left{
	float: left;
	width: 220px;
	padding: 50px 0 20px 20px;
}
#col-bottom{
	position: relative;
}
.news-items{
	header{
		.fh;
		float: left;
		font-size: 21px;
		line-height: 1;
		margin: -2px 0 13px;
		color: @cl;
	}
	nav{
		float: right;
		font-size: 13px;
		line-height: 1;
		margin: -1px 0 16px;
		a{
			display: inline-block;
			&:before{
				.fi;
				float: right;
				content: '\e801';
				font-size: 20px;
				color: @cl;
				text-decoration: none;
				margin: -4px 4px 0 8px;
			}
		}
	}
	article{
		.clearfix;
		.border-radius(4px);
		clear: both;
		font-size: 15px;
		line-height: 1.1;
		margin: 0 0 34px;
		figure{
			float: left;
			margin: 2px 20px 0 0;
		}
		h2{
			.fh;
			font-size: 18px;
			margin: 0;
			color: @cl;
			letter-spacing: 0;
			font-weight: normal;
		}
		p{
			margin: 12px 0;
		}
		.more{
			font-size: 14px;
			a {
				display: inline-block;
				&:before{
					.fi;
					float: left;
					content: '\e802';
					font-size: 16px;
					line-height: 1;
					margin: -1px 6px 0 0;
					text-decoration: none;
				}
			}
		}
		&.main-item{
			margin: 0 0 36px;
			padding: 0 27px 23px;
			line-height: 1.35;
			background: #eceff2;
			figure{
				float: none;
				margin: 0 -27px 19px;
			}
			h2{
				font-size: 20px;
				margin: 0 0 10px;
			}
			p {
				margin: 10px 0;
			}
		}
	}
}
.box-clenstvi{
	min-height: 232px;
	padding: 18px 80px 20px 20px;
	color: #fff;
	background: #162433 url(../images/bg/03.jpg) no-repeat right bottom;
	margin: 0 0 37px;
	header{
		.fh;
		font-weight: 300;
		font-size: 21px;
		line-height: 1.1;
		margin: 0 0 28px;
		mark{
			font-weight: 400;
			color: #fff;
		}
	}
	ul{
		.rul;
		margin: 0 36px 15px 2px;
		li{
			.rli;
			a{
				.transition(0.2s);
				display: block;
				position: relative;
				height: 31px;
				line-height: 31px;
				font-size: 14px;
				padding: 0 0 0 13px;
				color: #fff;
				text-decoration: none;
				background: #44a8f3;
				&:before{
					.transition(0.2s);
					position: absolute;
					left: 100%;
					top: 0;
					content: '';
					border-top: 31px solid #44a8f3;
					border-right: 13px solid transparent;
				}
				&:hover{
					background: darken(#44a8f3,10%);
					&:before{
						border-top-color: darken(#44a8f3,10%);
					}
				}
			}
			&:nth-child(odd){
				a{
					color: #2d364d;
					background: #c1c9d5;
					&:before{
						border-top-color: #c1c9d5;
					}
					&:hover{
						background: lighten(#c1c9d5,10%);
						&:before{
							border-top-color: lighten(#c1c9d5,10%);
						}
					}
				}
			}
		}
	}
}
.box-pro-lekare{
	.border-radius(4px);
	position: relative;
	padding: 14px 0 0 0;
	margin: 0 0 37px;
	border: 1px solid #cfd2c8;
	background: #fff;
	&:before{
		position: absolute;
		content: '';
		top: 100%;
		left: 0;
		width: 100%;
		height: 10px;
		background: url(../images/bg/02.png) no-repeat top;
	}
	.title{
		margin: 0 12px 15px 12px;
		padding: 0 0 4px;
		border-bottom: 1px solid #eee;
	}
	.premium{
		margin: 10px 10px 17px;
		font-weight: bold;
		font-size: 12px;
		a{
			color: #c80000;
			padding: 0 0 0 20px;
			background: url(../images/icon/09.png) no-repeat 0 1px;
		}
	}
	.search{
		padding: 0 10px;
		margin: 0 0 6px;
		input[type=text]{
			.rin;
			color: @cp;
			border: 1px solid #aaa;
			background: #fff url(../images/icon/08.png) no-repeat 6px 6px;
			padding: 6px 5px 6px 30px;
			width: 100%;
			height: 32px;
			font-size: 12px;
			color: @cp;
		}
	}
	.menu{
		ul{
			.rul;
			height: 200px;
			overflow: auto;
			li{
				.rli;
				margin: 0 1px;
				border-top: 1px dotted #aeb1d3;
				a{
					display: block;
					font-size: 12px;
					line-height: 14px;
					color: @cp;
					text-decoration: none;
					padding: 4px 0 3px 30px;
					background: url(../images/icon/bullet-casopis-grey.gif) no-repeat 10px 5px;
					&:hover{
						color: @cl;
						text-decoration: underline;
					}
				}
				&.darkgrey a {
					background-image: url(../images/icon/bullet-casopis-darkgrey.gif);
				}
				&.grey a {
					background-image: url(../images/icon/bullet-casopis-grey.gif);
				}
				&.lightred a {
					background-image: url(../images/icon/bullet-casopis-lightred.gif);
				}
				&.darkred a {
					background-image: url(../images/icon/bullet-casopis-darkred.gif);
				}
				&.orange a {
					background-image: url(../images/icon/bullet-casopis-orange.gif);
				}
				&.lightorange a {
					background-image: url(../images/icon/bullet-casopis-lightorange.gif);
				}
				&.black a {
					background-image: url(../images/icon/bullet-casopis-black.gif);
				}
				&.blue a {
					background-image: url(../images/icon/bullet-casopis-blue.gif);
				}
				&.darkblue a {
					background-image: url(../images/icon/bullet-casopis-darkblue.gif);
				}
				&.green a {
					background-image: url(../images/icon/bullet-casopis-green.gif);
				}
				&.darkgreen a {
					background-image: url(../images/icon/bullet-casopis-darkgreen.gif);
				}
				&.darkgreen2 a {
					background-image: url(../images/icon/bullet-casopis-darkgreen2.gif);
				}
				&.yellowgreen a {
					background-image: url(../images/icon/bullet-casopis-yellowgreen.gif);
				}
				&.lightgreen a {
					background-image: url(../images/icon/bullet-casopis-lightgreen.gif);
				}
				&.yellow a {
					background-image: url(../images/icon/bullet-casopis-yellow.gif);
				}
				&.darkyellow a {
					background-image: url(../images/icon/bullet-casopis-darkyellow.gif);
				}
				&.violet a {
					background-image: url(../images/icon/bullet-casopis-violet.gif);
				}
				&.violet2 a {
					background-image: url(../images/icon/bullet-casopis-violet2.gif);
				}
				&.brown a {
					background-image: url(../images/icon/bullet-casopis-brown.gif);
				}
				&.lightbrown a {
					background-image: url(../images/icon/bullet-casopis-lightbrown.gif);
				}
				&.lightblue a {
					background-image: url(../images/icon/bullet-casopis-lightblue.gif);
				}
				&.lightviolet a {
					background-image: url(../images/icon/bullet-casopis-lightviolet.gif);
				}
				&.pink a {
					background-image: url(../images/icon/bullet-casopis-pink.gif);
				}
				&.pink2 a {
					background-image: url(../images/icon/bullet-casopis-pink2.gif);
				}
				&.ocean a {
					background-image: url(../images/icon/bullet-casopis-ocean.gif);
				}
				&.redgrey a {
					background-image: url(../images/icon/bullet-casopis-redgrey.gif);
				}
				&.redwine a {
					background-image: url(../images/icon/bullet-casopis-redwine.gif);
				}
				&.pinkred a {
					background-image: url(../images/icon/bullet-casopis-pinkred.gif);
				}
				&.bluegreen a {
					background-image: url(../images/icon/bullet-casopis-bluegreen.gif);
				}
				&.darkviolet a {
					background-image: url(../images/icon/bullet-casopis-darkviolet.gif);
				}
				&.darkblue2 a {
					background-image: url(../images/icon/bullet-casopis-darkblue2.gif);
				}
				&.biogen a {
					background-image: url(../images/icon/bullet-casopis-biogen.gif);
				}
				&.greenblue a {
					background-image: url(../images/icon/bullet-casopis-greenblue.gif);
				}
				&.darkblue3 a {
					background-image: url(../images/icon/bullet-casopis-darkblue3.gif);
				}
				&.endo a {
					background-image: url(../images/icon/bullet-casopis-endo.gif);
				}
				&.violetwine a {
					background-image: url(../images/icon/bullet-casopis-violetwine.gif);
				}
				&.redpink a {
					background-image: url(../images/icon/bullet-casopis-redpink.gif);
				}
				&.brownred a {
					background-image: url(../images/icon/bullet-casopis-brownred.gif);
				}
				&.darkred2 a {
					background-image: url(../images/icon/bullet-casopis-darkred2.gif);
				}
				&.pentasa a {
					background-image: url(../images/icon/bullet-casopis-pentasa.gif);
				}
				&:nth-child(even) a{
					background-color:#f3f3f8;
				}
			}
		}
	}
}
.sidebar-menu{
	margin: 0 0 43px;
	ul{
		.rul;
		li{
			.rli;
			&.on{
				&:before{
					border: 2px solid #afbf00;
				}
				&>a{
					font-weight: bold;
					&:before{
						border-left-color: #637996;
					}
				}
			}
			a{
				position: relative;
				display: block;
				text-decoration: none;
				font-size: 14px;
				line-height: 1.2;
				padding: 10px 10px 9px 23px;
				color: #2d364d;
				background: #e0e4ea;
				border-bottom: 1px solid #fff;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					position: absolute;
					content: '';
					left: -3px;
					top: 11px;
					border: 6px solid transparent;
					border-left-width: 9px;
					border-right-width: 0;
					border-left-color: #fff;
				}
			}
		}
	}
}
.box-partneri{
	margin: 0 0 37px;
	header{
		.fh;
		font-size: 18px;
		line-height: 1.2;
		margin: 0 0 15px;
	}
	ul{
		.rul;
		li{
			.rli;
			text-align: center;
			margin: 10px 0;
		}
	}
}
.box-akce{
	border-top: 30px solid #536580;
	color: #fff;
	background: #3b475f url(../images/bg/02.png) no-repeat top;
	a{
		color: #fff;
	}
	figure{
		float: left;
		padding: 36px 0 20px 20px;
	}
	.content{
		float: left;
		width: 580px;
		position: relative;
		padding: 35px 53px 15px 40px;
		header{
			.fh;
			font-weight: 300;
			font-size: 30px;
			line-height: 1;
			color: #44a8f3;
			margin: 0 0 10px;
		}
		h2{
			.fp;
			font-size: 20px;
			margin: 10px 0;
		}
		.date,.location{
			font-size: 16px;
			margin: 12px 44px 12px 0;
			float: left;
			&:before{
				.fi;
				float: left;
				margin: -7px 12px 0 0;
				font-size: 24px;
				content: '\e803';
				color: #44a8f3;
			}
		}
		.location{
			margin-right: 0;
			&:before{
				content: '\e804';
			}
		}
		.buttons{
			margin-top: 21px;
			ul{
				.rul;
				.clearfix;
				li{
					.rli;
					float: left;
					a{
						.transition(0.2s);
						display: inline-block;
						position: relative;
						color: #fff;
						height: 33px;
						line-height: 33px;
						margin: 0 28px 0 0;
						text-decoration: none;
						padding: 0 19px 0 7px;
						font-size: 13px;
						background: @cl;
						&:before{
							.transition(0.2s);
							position: absolute;
							left: 100%;
							top: 0;
							content: '';
							border-top: 33px solid #44a8f3;
							border-right: 12px solid transparent;
						}
						.icon{
							font-size: 16px;
							float: left;
							margin: -1px 9px 0 0;
						}
						&:hover{
							background: darken(@cl,10%);
							&:before{
								border-top-color: darken(@cl,10%);
							}
						}
					}
					&:nth-child(odd){
						a{
							color: @cp;
							background: #c1c9d5;
							&:before{
								border-top-color: #c1c9d5;
							}
							&:hover{
								background: lighten(#c1c9d5,10%);
								&:before{
									border-top-color: lighten(#c1c9d5,10%);
								}
							}
						}
					}
				}
			}
		}
	}
}
#page-footer{
	.box-shadow(inset 0 2px 6px fade(#000,30%));
	padding: 6px 20px 20px;
	font-size: 14px;
	background: #637995;
	color: #fff;
	a{
		color: #fff;
	}
}
// form
label{
	display: block;
}
input[type=text],input[type=password],input[type=email]{
	.rin;
	height: 28px;
	padding: 4px 7px;
	width: 100%;
	font-size: 14px;
	border: 1px solid #bfbfbf;
	background: #fff;
	&:focus{
		border-color: @cp;
	}
	&.input-small{
		width: 70px;
	}
	&.input-large{
		width: 180px;
	}
}
input[type=submit]{
	.btn;
}
.form-row{
	.row;
	margin-top: 10px;
	margin-bottom: 10px;
}
// table
table{
	width: 100%;
	background: #fff;
	margin: 30px 0;
	font-size: 13px;
	th,td{
		border: 1px solid #bfbfbf;
		padding: 5px 10px;
		border-left-style: dotted;
		border-right-style: dotted;
		&:first-child{
			border-left-style: solid;
		}
		&:last-child{
			border-right-style: solid;
		}
	}
	thead td,th{
		font-weight: bold;
		color: #2d364d;
		background: #e0e4ea;
	}
}
.breadcrumbs{
	margin: -26px 0 26px;
	padding: 0 0 6px;
	font-size: 13px;
	border-bottom: 1px solid #e0e4ea;
	a,span{
		position: relative;
		display: inline-block;
		text-decoration: none;
		padding: 0 0 0 10px;
		margin: 0 5px 0 0;
		color: #2d364d;
		font-weight: bold;
		&:before{
			position: absolute;
			content: '\203a';
			left: 0;
			top: -2px;
			color: @cp;
			font-weight: normal;
		}
		&.home{
			text-indent: -9999px;
			line-height: 1;
			padding-left: 0;
			margin-right: 0;
			width: 17px;
			&:before{
				.fi;
				position: absolute;
				left: -1px;
				top: -2px;
				text-indent: 0;
				font-size: 14px;
				color: @cl;
				content: '\e809';
			}
			&:hover{
				&:before{
					color: @cp;
				}
			}
		}
	}
	a{
		color: @cp;
		font-weight: normal;
		&:hover{
			text-decoration: underline;
		}
	}
}
.pagination {
	.fh;
	margin: 32px 0 20px;
	padding: 25px 0 0;
	font-size: 17px;
	border-top: 1px solid #dfdfdf;
	a,span {
		position: relative;
		display: inline-block;
		padding: 0 6px;
		text-decoration: none;
		color: @cp;
	}
	a {
		&:hover{
			text-decoration: underline;
		}
	}
	span {
		font-weight: bold;
	}
	.prev,.next {
		width: 29px;
		text-indent: -9999px;
		color: @cl;
		&:before{
			.fi;
			position: absolute;
			left: 4px;
			top: -3px;
			text-indent: 0;
			font-size: 21px;
			content: '\e807';
		}
		&:hover{
			color: @cp;
		}
	}
	.next {
		&:before{
			left: 10px;
			content: '\e808';
		}
	}
}