
.icon-search:before { content: '\e800'; } /* '' */
.icon-popup:before { content: '\e801'; } /* '' */
.icon-clipboard:before { content: '\e802'; } /* '' */
.icon-calendar-outlilne:before { content: '\e803'; } /* '' */
.icon-location-outline:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-left-open-outline:before { content: '\e807'; } /* '' */
.icon-right-open-outline:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */